<footer class="footer">
    <a href="https://github.com/DevFernandoNunes" target="blank"><p class="footer__copyright"><span>Este é um projeto feito</span> Fernando Nunes.</p></a>
    <a href="https://www.pokemon.com/br/pokedex/" target="blank"><p class="footer__logo"> <span>Baseado em </span> Pokedex.</p></a>
</footer>