<header>
  <a href="/"><h3>DEVFERNANDONUNES</h3></a>
  <nav>
    <ul class="nav__links">
      <li><a href="/">POKEDEX</a></li>
      <li><a href="/signup">CADASTRAR</a></li>
    </ul>
  </nav>
</header>
