@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* O código acima altera a forma com que a altura e largura dos elementos seja calculadas, fazem com que as mesmas incluem os valores de padding e border */

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Nav
/* 3. Cards
/* 4. Formulário
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
  /* Indica o nível mais alto do css, com especificidade mais alta */
  --ff-primary: "Bebas Neue", cursive;
  --clr-black-dark: #24252a;
  --clr-light-white: #edf0f1;
  --clr-red: red;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

body {
  /* background-color: var(--clr-black-dark); */
  font-family: var(--ff-primary);
  font-weight: 500;
  height: auto;
} /* Fundo da página utilizando uma variável */

a {
  text-decoration: none;
}

/**********************************/
/* 2. Nav
/**********************************/

header {
  background-color: var(--clr-black-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 100px;
}

li,
a {
  font-size: 30px;
  color: var(--clr-light-white);
  text-decoration: none;
}

h3 {
  cursor: pointer;
  color: var(--clr-dif-blue);
  transition: all 0.3s ease 0s;
  font-size: 35px;
}

h3:hover {
  color: var(--clr-red);
  transition: 0.9s;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--clr-red);
  transition: 0.9s;
}

/**********************************/
/* 3. Card
/**********************************/

main {
  margin: 0 1rem 0 1rem;
}

#cards {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}

#cards h2 {
  width: 100%;
  margin-bottom: 5rem;
  font-size: 2rem;
}

#cards .card a {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  color: #0077ff;
  border-radius: 15px;
  text-decoration: none;
  border: solid 1px #0077ff;
}

#cards .card a:hover {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #0077ff;
  color: #fff;
  border-radius: 15px;
  transition: 0.9s;
}

#cards .card a.card--delete {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  color: #ff0000;
  border-radius: 15px;
  text-decoration: none;
  border: solid 1px #ff0000;
}

#cards .card a.card--delete:hover {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #ff0000;
  color: #fff;
  border-radius: 15px;
  transition: 0.9s;
}

.card {
  width: 20rem;
  box-shadow: 5px 5px 5px 5px #00000015;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 150px;
}

.card img {
  width: 100%;
}

.card h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
}

.card p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

/**********************************/
/* 4. Formulário
/**********************************/

#cadastro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}

#cadastro h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  font-size: 30px;
}

form {
  width: 900px;
}

.input-data {
  margin-bottom: 15px;
}

.input-data input {
  width: 100%;
  padding: 10px;
  border: solid 0.7px #ccc;
  outline: none;
  font-size: 16px;
}

.input-data label {
  font-size: 25px;
}

#cadastro button {
  padding: 0.7rem;
  width: 20%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  color: #ff0000;
  border-radius: 15px;
  text-decoration: none;
  border: solid 1px #ff0000;
  cursor: pointer;
}

#cadastro img {
  margin-right: 100px;
}

form .btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#cadastro button:hover {
  padding: 0.7rem;
  width: 20%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #ff0000;
  color: #fff;
  border-radius: 15px;
  transition: 0.9s;
}

/**********************************/
/* 4. Footer
/**********************************/

.footer {
  position: relative;
  background: var(--clr-black-dark);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 30px;
  padding: 100px calc((100% - 960px) / 2); /* Aqui você vai pegar e usar a formula calc, no que diz... pega 100% e subtraia por 960px e divida por 2, achando assim o valor a direita e esquerda do efeito da tags superiores */
}

.footer__copyright,
.footer__logo {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

.footer__copyright:hover,
.footer__logo:hover {
  color: #ff0000;
  transition: all 0.7s;
}

/**********************************/
/* 4. Modal
/**********************************/

.modal-overlay {
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #00000080;
  padding: 1rem;
  color: #fff;
}

.modal-header h3 {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.modal-header a#close-modal-put {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
}

.modal-body {
  padding: 0.5rem 1rem;
  flex: 1;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.form-modal .input-data input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 2px #ccc;
}

.form-modal .input-data label {
  color: #555;
}
.form-modal button {
  padding: 0.7rem;
  width: 20%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  color: #16be10;
  border-radius: 15px;
  text-decoration: none;
  border: solid 1px #16be10;
  cursor: pointer;
}

.form-modal button:hover {
  padding: 0.7rem;
  width: 20%;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  background-color: #16be10;
  color: #fff;
  border-radius: 15px;
  transition: 0.9s;
}

.modal-body p {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}

#btns-del {
  display: flex;
  margin: 0 auto;
}

#btns-del a {
  padding: 0.7rem;
  text-decoration: none;
  width: 100%;
  margin: 2rem 1rem 1rem;
  color: #555;
}

#btns-del a#yes {
  padding: 0.7rem;
  text-decoration: none;
  width: 100%;
  margin: 2rem 1rem 1rem;
  color: #16be10;
  border: solid 1px #16be10;
  border-radius: 5px;
}

#btns-del a#yes:hover {
  color: #fff;
  background-color: #16be10;
  transition: all 0.7s ease-in-out;
}

#btns-del a#no {
  padding: 0.7rem;
  text-decoration: none;
  width: 100%;
  margin: 2rem 1rem 1rem;
  color: #ff0000;
  border: solid 1px #ff0000;
  border-radius: 5px;
}

#btns-del a#no:hover {
  color: #fff;
  background-color: #ff0000;
  transition: all 0.7s ease-in-out;
}

.message {
  position: absolute;
  top: 7rem;
  right: 7rem;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  width: 25rem;
  padding: 1.2rem;
  font-weight: 600;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.message-danger {
  background-color: #ffbac6;
  color: #ff0000;
}

.message-success {
  background-color: #c0ffba;
  color: #065806;
}

.message-info {
  background-color: #bac7ff;
  color: #0400ff;
}

.message-warning {
  background-color: #f5ffba;
  color: #ffc400;
}

.message i {
  cursor: pointer;
}
